---
import { Image } from "astro:assets";
import { Experience } from "../../models/Experience";

interface Props extends Experience {}

const { title, description, image, company, dates, link } = Astro.props;
---

<div class="exp-card">
    {image !== "" && <Image src={image} alt={title} class="card-image" width="400" height="300" />}
    <div class="card-header">
        <h3>{title}</h3>
        <h4><a href={link} target="_blank">{company}</a> / {dates}</h4>
    </div>
    <p class="card-description" set:html={description} />
</div>

<style>
    .exp-card {
        max-width: 40rem;
        background-color: var(--color-surface-dark);
        border-radius: 12px;
        padding: 2rem;
        overflow: hidden;
    }

    .card-image {
        position: relative;
        margin: -2rem -2rem 2rem -2rem;
        width: calc(100% + 4rem);
        height: auto;
    }

    .card-header {
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .card-header h3 {
        margin: 0;
        font-size: 2.8rem;
        color: var(--color-primary);
    }

    .card-header h4 {
        margin: 0;
        font-size: 2.1rem;
        filter: brightness(0.9);
    }

    .card-header h4 a {
        text-decoration: none;
        color: var(--color-secondary);
    }

    .card-description {
        font-size: 2.4rem;
    }
</style>
